body {
    background-color: #79ADDC;
    margin: 0;
    padding: 0;
    cursor: cell;
    display: flex;
    flex-direction: column;
    height: 98vh;
}

.intro {
    font-family: Cause;
    text-align: center;
    margin-top: 50px;

}

.cookieclick {
    font-family: Cause;
    text-align: center;
    margin-top: 0px;
}

.aboutme {
    font-family: Montserrat;
    text-align: center;
    margin-top: 100px;
}

#gamelink {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #551a8b;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav a {
    color: white;
    font-family: Cause;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.nav a:active {
    background-color: #4CAF50;
    color: white;

}

.cookieframe {
    display: flexbox;
    margin-top: 20px;
    margin-left: 38px;
    cursor: cell;
}