div#score {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Smooch Sans';
    margin-left: 280px;
}

button {
    font-family: 'Comic Sans MS';
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    margin-left: 20px;
    background-color: khaki;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img#cookie {
    display: flex;
    margin-right: auto;
    margin-left: 108px;
    border: 2px solid tan;
    border-radius: 100%;
}